.artistProfile_container {
  width: 200px;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.artist_image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.album_image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.description_container_artist {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description_container_album {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-wrap: nowrap;
  overflow: hidden;
}

.font_bold {
  font-size: 14px;
  font-weight: 600;
}

.font_normal {
  font-size: 14px;
}
