.button_container {
  padding: 8px 22px;
  border: solid 1px white;
  border-radius: 51px;
}

.info_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info_container p {
  font-size: 12px;
  font-weight: 400;
}

.isSelected {
  background: var(--mi-focused-color);
  border-color: var(--mi-focused-color);
}

.isDisabled {
  opacity: 0.2;
  cursor: default;
}
