:root {
  /* Background Colors: */
  --bg-color-dark: #0C090B;
  --bg-color-hover: #1f1f1f;

  /* Letter colors */
  --ltr-color-white: #ffffff;
  --ltr-color-black: #000000;

  /* Border colors */
  --border-color-gray: rgba(255, 255, 255, .15);

  /* Progress bar colors */
  --color-red: #FF0000;

  /* navigation bar */
  --nav-guide-height: 64px;

  /* navigation left content */
  --left-content-width: 232px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  background: var(--bg-color-dark);
  color: var(--ltr-color-white);
  font-family: Roboto, Noto Naskh Arabic UI, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}