.songCard_container_smallest,
.songCard_container_default,
.songCard_container_medium,
.songCard_container_large {
  height: max-content;
  display: flex;
  gap: 8px;
  overflow: hidden;
}

.songCard_container_smallest {
  width: auto;
  cursor: default;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}

.songCard_container_default {
  width: 254px;
  cursor: pointer;
}

.songCard_container_medium {
  width: 348px;
}

.songCard_container_large {
  width: 550px;
}

.artist_image {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.artist_image_smallest {
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.artist_description {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description_text {
  width: min-content;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 2px;
  text-wrap: nowrap;
}

.songTitle {
  font-size: 16px;
  font-weight: 600;
}

.songTitle_smallest {
  font-size: 14px;
  font-weight: 600;
}

.artistDescription {
  font-size: 16px;
  font-weight: 400;
}

.artistDescription_smallest {
  font-size: 14px;
  font-weight: 400;
}

.images_container {
  position: relative;
  width: min-content;
  height: min-content;
}

.state_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background: rgba(20, 20, 20, 0.8);
  display: grid;
  place-content: center;
}
