.playlistAdd_margin_container {
  width: 100%;
  height: 100%;
  padding: var(--nav-guide-height) 0 var(--playback-height) 0;
  display: flex;
  position: relative;
}

.playlist_inputs_container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2rem 4rem;
  align-items: center;
}

.playlist_inputs_container h2 {
  align-self: flex-start;
  font-size: 32px;
  font-weight: 700;
}

.playlist_imageAlbum_container {
  display: flex;
  align-items: center;
  margin-top: 50px;
  padding: 0 4rem;
}

.close_btn {
  position: absolute;
  top: calc(var(--nav-guide-height) + 25px);
  right: 35px;
  z-index: 10;
}