.sidebar_compact_fill,
.sidebar_expanded_fill {
  min-height: 100vh;
  height: 100%;
  flex-shrink: 0;
}

.navBar_container {
  height: calc(100vh - var(--nav-guide-height));
  background: var(--nav-bg-dark);
  border-right: 1px solid var(--border-color-gray);
  position: fixed;
  z-index: 4;
  top: var(--nav-guide-height);
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compact_container,
.sidebar_compact_fill {
  width: var(--sidebar-compact-width-guide);
}

.compact_sidebar {
  height: 248px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 12px;
  gap: 4px;
}

.expanded_container,
.sidebar_expanded_fill {
  width: var(--sidebar-expanded-width-guide);
}

.expanded_sidebar {
  width: 100%;
  height: auto;
  padding: 24px 16px;
}

.sidebar_content_buttons {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-color-gray);
}

.playList_button_container {
  width: 100%;
  padding: 0 16px;
}

.playList_button_container button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.playlist_list_container {
  width: 100%;
  height: 100%;
  padding: 24px 16px;
  overflow: hidden;
}

.playlist_content {
  width: 100%;
  height: calc(100% - 72px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  text-wrap: nowrap;
}
