.default,
.medium,
.avatar,
.small {
  object-fit: cover;
  border-radius: 50%;
}

.default {
  height: 48px;
  width: 48px;
}

.medium {
  height: 32px;
  width: 32px;
}

.avatar, .small {
  height: 24px;
  width: 24px;
}